body {
    background-image: url(../images/bo_play_pattern.png);
}

.grid {
    width: 800px;
    height: 500px;
    margin: 0 auto;
    margin-top: 75px;
    background-color:  rgba(255, 255, 255, 0.865);
    padding: 20px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid #cbcbcb;
    /* box-shadow: 10px 10px 5px #cbcbcb; */
}

.grid h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #57636e;
    font-size: 60px;
    text-align: center;
    color:  rgba(255, 255, 255, 0.865);
    padding: 2px 0px;
    border-radius: 50px;
}

.grid #question {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: #5a6772;
}

.buttons {
    margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3 {
    background-color: #778897;
    width: 300px; 
    font-family:sans-serif;
    color: white;
    border: 1px solid #1d3c6a;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px; 
}

#score {
    color: #5a6772;
    text-align: center;
    font-size: 30px; 
}
#progress {
    color: #57636e;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#timerDisplay {
    color: #57636e;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: #57636e;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}

/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}